
body {
    background: #f0e0d6;
    color: #800000;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    margin: 0; padding: 10px;
}

#boardBar { text-align: center; margin-bottom: 10px; font-size: 9pt; }
#boardBar button { background: none; border: none; color: #34345c; text-decoration: underline; cursor: pointer; }

#container { max-width: 900px; margin: auto; }
h1 { text-align: center; color: #af0a0f; margin: 5px; }
hr { border: 0; border-top: 1px solid #d9bfb7; margin: 10px 0; }

/* POST FORM */
.postForm { margin: auto; }
.formLabel { background: #ea8; color: #800; font-weight: bold; padding: 5px; text-align: center; }
textarea { width: 350px; height: 100px; border: 1px solid #a9a9a9; }

/* POSTS & REPLIES */
.post { margin: 4px 0; border: 1px solid #b7c5d9; padding: 5px 10px; }
.op { background: transparent; border: none; display: block; border-bottom: 1px solid #d9bfb7; padding-bottom: 20px; }
.reply { background: #d6bad0; display: table; border-left: none; border-top: none; }
.reply-section { margin-left: 30px; }

/* CATALOG STYLING */
.catalog-item { 
    display: block; 
    cursor: pointer; 
    background: #d6bad0; 
    width: 100%; 
    box-sizing: border-box;
}
.catalog-item:hover { background: #f5e6dc; }
.subject { font-weight: bold; color: #0f0c5d; font-size: 11pt; }
.meta { font-size: 9pt; color: #444; margin-top: 5px; }

/* TEXT ELEMENTS */
.post-header { font-size: 9pt; color: #117743; }
.name { font-weight: bold; }
.ts { color: #333; }
.num { color: #34345c; }
.post-body { color: #000; padding: 8px 0; line-height: 1.3; }
blockquote { color: #789922; margin: 0; padding: 0; }

.modTag { color: red; font-weight: bold; font-size: 8pt; }
.backBtn { font-weight: bold; text-decoration: none; color: #34345c; }
